---
import { getCollection } from "astro:content";
import ListItem from "../components/ListItem.astro";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("blog", ({ data }) => data.draft !== true);
posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

function formatDate(date: Date): string {
  return new Intl.DateTimeFormat("en", {
    month: "short",
    year: "numeric",
  }).format(date);
}
---

<Layout title="Blog | Justin Vietz">
  <section class="site-container page-section">
    <h1 class="page-title">blog</h1>

    <ul class="page-list">
      {
        posts.map((post) => (
          <ListItem
            href={`/blog/${post.id}`}
            title={post.data.title}
            titleTransitionName={post.id}
            description={post.data.description}
            date={formatDate(post.data.date)}
          />
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  .page-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
  }
</style>
